.cta-fixed {
    --screenPadding: clamp(16px, 2vw, 24px);
    position: fixed;
    bottom: var(--screenPadding);
    right: var(--screenPadding);
    z-index: 2;
    width: min(100%, 370px);

    border-radius: var(--btn-radius);
    overflow: hidden;
    background: #FFF;

    .btn {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    &._min {
        background: none;
        .cta-fixed__body {
            transform: scaleY(0);
        }

        .btn {
            border-top-left-radius: var(--btn-radius);
            border-top-right-radius: var(--btn-radius);
        }
    }

    @media screen and (max-width: $breakpoint768) {
        background: none;
        left: var(--screenPadding);
        width: unset;
        .cta-fixed__body {
            transform: scaleY(0);
        }

        .btn {
            border-top-left-radius: var(--btn-radius);
            border-top-right-radius: var(--btn-radius);
        }
    }

    // .cta-fixed__body
    &__body {
        height: 306px;
        transform-origin: center bottom;
        
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            max-height: 150px;
            max-width: 90%;
            width: auto;
            height: auto;
            object-fit: contain;
        }
    }

    // .cta-fixed__btn
    &__btn {
        @media screen and (max-width: $breakpoint768) {

        }
    }
}

