.gallery {
    @include width100vw;

    display: flex;
    align-items: flex-start;
    gap: 30px;
    overflow-x: auto;
    padding: 0 $containerPadding;

    img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 90vh;
        object-fit: contain;

        user-select: none;
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
        user-drag: none;
    

        @media screen and (max-width: $breakpoint576) {
            max-width: 90vw;
        }
    }

    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }

    .swiper {
        padding: 0 $containerPadding !important;
    }
    .swiper-slide {
        width: auto !important;

        img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 90vh;
            object-fit: contain;

            @media screen and (max-width: $breakpoint576) {
                max-width: 90vw;
            }
        }
    }
}