@keyframes spin {
    from {translate: 0%}
    to {translate: calc(-100% - 30px)}
}

.gallery {
    @include width100vw;

    display: flex;
    // align-items: flex-start;
    gap: 30px;
    overflow-x: clip;
    padding: 0 $containerPadding;
    // padding-left: 0;
    // padding-right: 0;

    &__inner {
        flex-shrink: 0;
        display: flex;
        align-items: flex-start;
        gap: 30px;
        animation: spin 10s infinite linear;
        // padding-right: 30px;

        @media screen and (max-width: $breakpoint576) {
            animation: spin 20s infinite linear;
        }
    }

    img {
        flex-shrink: 0;
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 90vh;
        object-fit: contain;

        user-select: none;
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
        user-drag: none;
    

        @media screen and (max-width: $breakpoint576) {
            max-width: 90vw;
        }
    }

    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }

    .swiper {
        padding: 0 $containerPadding !important;
    }
    .swiper-wrapper {
        transition-timing-function: linear !important;
    }
    .swiper-slide {
        width: auto !important;
        flex-shrink: 0;

        img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 90vh;
            object-fit: contain;

            @media screen and (max-width: $breakpoint576) {
                max-width: 90vw;
            }
        }
    }
}