
.history {

    display: flex;
    @include flexColumns(2, 24px);

    @media screen and (max-width: $breakpoint1200) {
        flex-direction: column-reverse;
    }

    [data-tab-target] {
        &._hidden {
            display: none;
        }
    }

    // .history__left
    &__left {
        display: flex;
        flex-direction: column;
        padding-bottom: 24px;

        @media screen and (max-width: $breakpoint1200) {
            display: none;
        }
    }

    &__left-mb {
        @media screen and (min-width: $breakpoint1200) {
            display: none;
        }
    }

    &__header {
        padding-top: 24px;
        display: flex;
        align-items: flex-start;
        gap: 16px;
        margin-bottom: 24px;
    }

    &__triggers {
        flex-shrink: 0;
        cursor: pointer;

        counter-reset: history;

        li {
            counter-increment: history;
            &::before {
                content: "(" counter(history)  ")";
            }

            &._active {
                color: $colorBrown;
            }
        }
    }

    &__desc {
        a {

            vertical-align: bottom;
            text-decoration: underline;
            text-decoration-style: solid;
            text-underline-offset: .2em;
            text-decoration-thickness: 5%;

            &:hover {
                color: $colorBrown;
            }

        }
    }

    &__body {
        margin-top: auto;
        margin-bottom: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }



    // .history__blockquote
    &__blockquote {

    }


    // .history__right
    &__right {
        aspect-ratio: 1;
        border-radius: 18px;
        overflow: hidden;
        align-self: flex-start;

        @media screen and (max-width: $breakpoint1200) {
            max-width: 600px;
            width: 100%;
            margin: 0 auto;
        }
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }

        .swiper-pagination {
            justify-content: center;
        }
        .swiper-pagination-bullet {
            background: $colorWhite;
            opacity: .4;
        }
        .swiper-pagination-bullet-active {
            opacity: 1;
        }
    }
}

.history-acc {

    border-bottom: $border;

    &._active {
        .history-acc {
            &__header  {
                color: $colorBrown;
            }
            &__body {
                display: flex;
            }
        }
    }

    &:last-child {
        .history-acc__header {
            border-bottom: none;
        } 
    }

    // .history-acc__header
    &__header {
        padding: 20px 0;
    }

    // .history-acc__body
    &__body {
        display: none;
        flex-direction: column;
        gap: 48px;
        padding-bottom: 20px;
    }
}




.history-author {

    display: flex;
    gap: 16px;
    position: relative;

    @media screen and (max-width: $breakpoint1200) {
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;
    }

    // .history-author__img
    &__img {
        width: clamp(82px, 10vw, 108px);
        border-radius: 10px;
        overflow: hidden;

        img {
            width: 100%;
            display: block;
        }
    }

    // .history-author__sign
    &__sign {
        position: absolute;
        width: 208px;
        top: 35px;
        right: -50px;

        img {
            width: 100%;
        }

        @media screen and (max-width: $breakpoint1200) {
            position: relative;
            top: -60px;
            margin-bottom: -60px;
            right: unset;
        }
    }
}