
.history {

    display: flex;
    @include flexColumns(2, 24px);

    @media screen and (max-width: $breakpoint1200) {
        flex-direction: column-reverse;
    }

    // .history__left
    &__left {
        display: flex;
        flex-direction: column;
        padding-bottom: 24px;
    }

    &__header {
        padding-top: 24px;
        display: flex;
        align-items: flex-start;
        gap: 16px;
        margin-bottom: 24px;
    }

    &__triggers {
        flex-shrink: 0;

        ._active {
            color: $colorBrown;
        }
    }

    &__desc {
        a {

            vertical-align: bottom;
            text-decoration: underline;
            text-decoration-style: solid;
            text-underline-offset: .2em;
            text-decoration-thickness: 5%;

        }
    }

    &__body {
        margin-top: auto;
        margin-bottom: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }



    // .history__blockquote
    &__blockquote {

    }


    // .history__right
    &__right {
        aspect-ratio: 1;
        border-radius: 18px;
        overflow: hidden;
        align-self: flex-start;

        @media screen and (max-width: $breakpoint1200) {
            max-width: 600px;
            margin: 0 auto;
        }
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }
}



.history-author {

    display: flex;
    gap: 16px;
    position: relative;

    // .history-author__img
    &__img {
        width: 108px;
        border-radius: 10px;
        overflow: hidden;

        img {
            width: 100%;
            display: block;
        }
    }

    // .history-author__sign
    &__sign {
        position: absolute;
        width: 208px;
        top: 35px;
        right: -50px;

        img {
            width: 100%;
        }
    }
}