.salad {
    position: relative;
    &__img {
        img {
            width: 100%;
            border-radius: 18px;
            overflow: hidden;
        }
    }

    &__flag {
        width: 60px;
        height: auto;
        margin-top: 20px;

        @media screen and (max-width: $breakpoint1024) {
            position: absolute;
            left: 50%;
            top: 0;
            translate: -50% -50%;
            margin-top: 0;
        }
    }
}