.stages {

    position: relative;
    height: clamp(280px, 50vw, 924px);
    min-height: fit-content;
    border-radius: 18px;
    overflow: hidden;
    padding: 16px;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    @media screen and (max-width: $breakpoint992) {
        flex-direction: column;
        align-items: unset;
        height: unset;
        padding: 0;
    }

    

    // .stages__img
    &__img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        inset: 0;

        @media screen and (max-width: $breakpoint992) {
            position: static;
            height: clamp(280px, 35vw, 350px);
        }
    }

    // .stages__slider
    &__slider {
        width: 592px;
        max-width: 100%;
        padding: clamp(20px, 3vw, 32px);
        // position: absolute;
        // bottom: 16px;
        // right: 16px;
        background-color: $colorWhite;
        border-radius: 18px;

        @media screen and (max-width: $breakpoint992) {
            width: 100%;
        }

        .swiper {
            
        }

        .swiper-pagination {
            margin-top: clamp(20px, 3vw, 32px);
            justify-content: center;
            position: static;
            gap: 12px;

            .swiper-pagination-bullet {
                background: $colorBlack;
                opacity: .2;
                width: 6px;
                height: 6px;
                margin: 0 !important;
            }

            .swiper-pagination-bullet-active {
                opacity: 1;
            }
        }
    }
}

.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.stage {

    &__title {
        margin-top: clamp(12px, 2vw, 16px);
    }

    // .stage__img
    &__img {
        margin-top: clamp(12px, 2vw, 16px);
        height: clamp(100px, 20vw, 190px);
        width: auto;
        padding-bottom: clamp(12px, 2vw, 16px);
        border-bottom: $border;
    }

    &__text {
        margin-top: clamp(12px, 2vw, 16px);
    }
}

