@font-face {
    font-family: ArnoPro;
    src: url("../fonts/ArnoPro-Regular.woff2");
    font-weight: 400;
}

@font-face {
    font-family: ArnoPro;
    src: url("../fonts/ArnoPro-Bold.woff2");
    font-weight: 700;
}

@font-face {
    font-family: Pragmatica;
    src: url("../fonts/Pragmatica-Book.woff2");
    font-weight: 400;
}

@font-face {
    font-family: Pragmatica;
    src: url("../fonts/Pragmatica-Medium.woff2");
    font-weight: 500;
}

@font-face {
    font-family: Pragmatica;
    src: url("../fonts/Pragmatica-Bold.woff2");
    font-weight: 700;
}

