/* -------- GLOBAL -------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $fontPrimary;
    color: $colorBlack;
}

*,
*::after,
*::before {
    transition: $quickTransition;
}

.container {
    max-width: calc($conteinerWidth + 2 * $containerPadding);
    width: 100%;
    margin: 0 auto;
    padding: 0 calc(2 * $containerPadding);

}


html,
body {
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: clip;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

main {
    display: flex;
    flex-direction: column;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    background: none;
}

.lock {
    overflow-y: hidden;
    overflow-x: hidden;
}

.hidden {
    display: none !important;
}

.op-50 {
    opacity: .5;
}

$width: min(68%, 500px);

.card {
    // @include width100vw;
    background: $colorGray;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 92px 0;
    position: relative;

    & > img {

        max-width: $width;
        width: 100%;
        height: auto;
        display: block;

        filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.2));
        -webkit-filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.2));

    }

    .tooltip {

        position: absolute;
        top: 16px;
        right: 16px;
        left: 16px;
        display: flex;
        justify-content: flex-end;

        &:hover {
            .tooltip__text {
                display: block;
            }
        }

        // .tooltip__icon
        &__icon {
            width: 17px;
            height: auto;
            display: block;
        }

        // .tooltip__text
        &__text {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            right: calc(17px + 16px);
            background: $colorWhite;
            border-radius: 12px;
            padding: 16px;

            @media screen and (min-width: $breakpoint992) {
                left: unset;
                max-width: 600px;
            }

            h2 {
                font-size: clamp(18px, 3vw, 24px);
                text-transform: uppercase;
                letter-spacing: 0.2em;
                font-weight: 400;
                line-height: 1.2;
            }

            p {
                font-size: clamp(14px, 2px, 16px);
                line-height: 1.2;
                margin-top: 1.2em;
            }

            a {
                text-decoration: underline;
                text-underline-offset: 5px;
            }
        }
    }

}

.form {
    flex: 1;
    max-width: calc($width + 2 * $containerPadding);
    min-width: min(100%, 420px);
    width: 100%;
    margin: 0 auto;
    margin-top: 24px;

    display: flex;
    flex-direction: column;
    gap: 32px;

    &__submit {
        margin-top: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        @include width100vw;
        
        button {
            width: 100%;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: .1em;
            font-size: 14px;
            height: 56px;
            background: $colorBlack;
            color: $colorWhite;
            cursor: pointer;

            &:disabled,
            &._disabled {
                opacity: .2;
            }
        }
    }
}

.input-block {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-wrapper {

    margin-top: 4px;
    position: relative;

    // .input-wrapper__btn
    &__btn {
        position: absolute;
        right: 0;
        top: 12px;
        translate: 0 25%;
        
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: .2em;
        cursor: pointer;
    }

    // .input-wrapper__caption
    &__caption {
        font-size: 14px;

        margin-top: 8px;
        display: flex;
        justify-content: flex-end;
        text-align: right;
    }
}

.input {
    font-family: Pragmatica;
    width: 100%;
    padding: 12px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    &:disabled {
        color: rgba($color: $colorBlack, $alpha: .5);
        background: none;
    }

    &._incorrect {
        color: #FF3434;
        border-color: #FF3434;
    }
}

.radio-block {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    & > * {
        flex: 1;
        cursor: pointer;
        position: relative;

        background: rgba($color: $colorGray, $alpha: .5);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        border-radius: 12px;
        
        text-align: center;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: .2em;

        &:has(> input:checked) {
            color: $colorWhite;
            background: $colorBlack;
        }
    }

    input {
        opacity: 0;
        position: absolute;
        inset: 0;
        cursor: pointer;
    }
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.checkbox-block {
    cursor: pointer;
    opacity: .5;
    display: flex;
    gap: 12px;
    font-size: clamp(14px, 2vw, 16px);

    &:has(> input:checked) {
        opacity: 1;
    }

    input {
        -webkit-appearance: none;
        appearance: none;
        border: 1px solid $colorBlack;
        width: 16px;
        height: 16px;
        flex-shrink: 0;
        
        &:checked {
            
            background: url(../img/checked.svg) center / auto 50% no-repeat;
            
        }
    }
}


.success {
    width: $width;
    margin: 0 auto;
    text-align: center;
    flex: 1;
    padding-top: 32px;
    padding-bottom: 32px;

    display: flex;
    flex-direction: column;    

    &__title {
        text-transform: uppercase;
        font-weight: 400;
        font-size: clamp(18px, 3vw, 24px);
        margin-top: auto;
    }

    &__wallet {
        margin-bottom: auto;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;

        img {
            height: 50px;
            width: auto;
        }
    }

    // .success__more
    &__more {
        margin-top: 20px;
        font-size: 14px;
        text-decoration: underline;
        text-transform: uppercase;
        letter-spacing: .1em;
        text-underline-offset: 5px;
    }

}

